* {
    padding: 0;
    margin: 0;
}

body {
    background-color: azure;
}

.content h1 {
    height: 40px;
    width: 400px;
    margin: auto;
}

.lists {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lists li {
    display: flex;
    flex-direction: column;
    width: 420px;
    padding: 5px;
    border: 1px black solid;
    margin: 15px 0;
    overflow: auto;
}

li img {
    height: 13px;
    width: 13px;
}


li .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;    
}

li .avatar {
    height: 60px;
    width: 60px;

}

li .buttons img {
    margin: 0 5px;
   
}

li .buttons img:hover {
     background-color: rgb(190, 190, 190);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form input {
    margin: 7px 0;
    width: 221px;    
}

form input:hover {
    background-color: rgb(190, 190, 190);    
}

form textarea {
    width: 221px;
    height: 90px;
}

form textarea:hover {
    background-color: rgb(190, 190, 190);    
}